CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y
CONFIG_ARIA2_BITTORRENT=y
CONFIG_ARIA2_NOXML=y
CONFIG_ARIA2_OPENSSL=y
CONFIG_ARIA2_WEBSOCKET=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_MBEDTLS=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_PROXY=y
CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_OPENSSL_ENGINE=y
CONFIG_OPENSSL_OPTIMIZE_SPEED=y
CONFIG_OPENSSL_WITH_ASM=y
CONFIG_OPENSSL_WITH_CHACHA_POLY1305=y
CONFIG_OPENSSL_WITH_CMS=y
CONFIG_OPENSSL_WITH_DEPRECATED=y
CONFIG_OPENSSL_WITH_ERROR_MESSAGES=y
CONFIG_OPENSSL_WITH_PSK=y
CONFIG_OPENSSL_WITH_SRP=y
CONFIG_OPENSSL_WITH_TLS13=y
CONFIG_PACKAGE_acme=y
CONFIG_PACKAGE_aria2=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_ddns-scripts=y
CONFIG_PACKAGE_dejavu-fonts-ttf-DejaVuMathTeXGyre=y
CONFIG_PACKAGE_dejavu-fonts-ttf-DejaVuSans=y
CONFIG_PACKAGE_dejavu-fonts-ttf-DejaVuSans-Bold=y
CONFIG_PACKAGE_dejavu-fonts-ttf-DejaVuSans-BoldOblique=y
CONFIG_PACKAGE_dejavu-fonts-ttf-DejaVuSans-ExtraLight=y
CONFIG_PACKAGE_dejavu-fonts-ttf-DejaVuSans-Oblique=y
CONFIG_PACKAGE_dejavu-fonts-ttf-DejaVuSansCondensed=y
CONFIG_PACKAGE_dejavu-fonts-ttf-DejaVuSansCondensed-Bold=y
CONFIG_PACKAGE_dejavu-fonts-ttf-DejaVuSansCondensed-BoldOblique=y
CONFIG_PACKAGE_dejavu-fonts-ttf-DejaVuSansCondensed-Oblique=y
CONFIG_PACKAGE_dejavu-fonts-ttf-DejaVuSansMono=y
CONFIG_PACKAGE_dejavu-fonts-ttf-DejaVuSansMono-Bold=y
CONFIG_PACKAGE_dejavu-fonts-ttf-DejaVuSansMono-BoldOblique=y
CONFIG_PACKAGE_dejavu-fonts-ttf-DejaVuSansMono-Oblique=y
CONFIG_PACKAGE_dejavu-fonts-ttf-DejaVuSerif=y
CONFIG_PACKAGE_dejavu-fonts-ttf-DejaVuSerif-Bold=y
CONFIG_PACKAGE_dejavu-fonts-ttf-DejaVuSerif-BoldItalic=y
CONFIG_PACKAGE_dejavu-fonts-ttf-DejaVuSerif-Italic=y
CONFIG_PACKAGE_dejavu-fonts-ttf-DejaVuSerifCondensed=y
CONFIG_PACKAGE_dejavu-fonts-ttf-DejaVuSerifCondensed-Bold=y
CONFIG_PACKAGE_dejavu-fonts-ttf-DejaVuSerifCondensed-BoldItalic=y
CONFIG_PACKAGE_dejavu-fonts-ttf-DejaVuSerifCondensed-Italic=y
# CONFIG_PACKAGE_dnsmasq is not set
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_auth=y
CONFIG_PACKAGE_dnsmasq_full_conntrack=y
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_dnsmasq_full_dnssec=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y
CONFIG_PACKAGE_dnsmasq_full_noid=y
CONFIG_PACKAGE_dnsmasq_full_tftp=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_https-dns-proxy=y
CONFIG_PACKAGE_ip-tiny=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_iputils-ping=y
CONFIG_PACKAGE_iputils-ping6=y
CONFIG_PACKAGE_kmod-crypto-aead=y
CONFIG_PACKAGE_kmod-crypto-cbc=y
CONFIG_PACKAGE_kmod-crypto-crc32=y
CONFIG_PACKAGE_kmod-crypto-crc32c=y
CONFIG_PACKAGE_kmod-crypto-cts=y
CONFIG_PACKAGE_kmod-crypto-des=y
CONFIG_PACKAGE_kmod-crypto-ecb=y
CONFIG_PACKAGE_kmod-crypto-hash=y
CONFIG_PACKAGE_kmod-crypto-hmac=y
CONFIG_PACKAGE_kmod-crypto-manager=y
CONFIG_PACKAGE_kmod-crypto-md5=y
CONFIG_PACKAGE_kmod-crypto-null=y
CONFIG_PACKAGE_kmod-crypto-pcompress=y
CONFIG_PACKAGE_kmod-crypto-sha1=y
CONFIG_PACKAGE_kmod-dnsresolver=y
CONFIG_PACKAGE_kmod-fs-exportfs=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-f2fs=y
CONFIG_PACKAGE_kmod-fs-nfs=y
CONFIG_PACKAGE_kmod-fs-nfs-common=y
CONFIG_PACKAGE_kmod-fs-nfs-common-rpcsec=y
CONFIG_PACKAGE_kmod-fs-nfs-v3=y
CONFIG_PACKAGE_kmod-fs-nfs-v4=y
CONFIG_PACKAGE_kmod-fs-nfsd=y
CONFIG_PACKAGE_kmod-fs-ntfs=y
CONFIG_PACKAGE_kmod-fs-reiserfs=y
CONFIG_PACKAGE_kmod-fs-squashfs=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-fs-xfs=y
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=y
CONFIG_PACKAGE_kmod-ipt-ipopt=y
CONFIG_PACKAGE_kmod-ipt-ipset=y
CONFIG_PACKAGE_kmod-ipt-raw=y
CONFIG_PACKAGE_kmod-lib-crc16=y
CONFIG_PACKAGE_kmod-lib-crc32c=y
CONFIG_PACKAGE_kmod-nf-conntrack-netlink=y
CONFIG_PACKAGE_kmod-nfnetlink=y
CONFIG_PACKAGE_kmod-nft-bridge=y
CONFIG_PACKAGE_kmod-nft-core=y
CONFIG_PACKAGE_kmod-nft-netdev=y
CONFIG_PACKAGE_kmod-nls-base=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_kmod-nls-utf8=y
CONFIG_PACKAGE_kmod-udptunnel4=y
CONFIG_PACKAGE_kmod-udptunnel6=y
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-ehci=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb2-pci=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-wireguard=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libcares=y
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libev=y
CONFIG_PACKAGE_libgmp=y
CONFIG_PACKAGE_libipset=y
CONFIG_PACKAGE_libiwinfo=y
CONFIG_PACKAGE_libiwinfo-lua=y
CONFIG_PACKAGE_liblua=y
CONFIG_PACKAGE_liblucihttp=y
CONFIG_PACKAGE_liblucihttp-lua=y
CONFIG_PACKAGE_libmbedtls=y
CONFIG_PACKAGE_libmnl=y
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_libnetfilter-conntrack=y
CONFIG_PACKAGE_libnettle=y
CONFIG_PACKAGE_libnfnetlink=y
CONFIG_PACKAGE_libnftnl=y
CONFIG_PACKAGE_libopenssl=y
CONFIG_PACKAGE_libopenssl-conf=y
CONFIG_PACKAGE_libpcre=y
CONFIG_PACKAGE_libpopt=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_libubus-lua=y
CONFIG_PACKAGE_libuci-lua=y
CONFIG_PACKAGE_lua=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-acme=y
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-https-dns-proxy=y
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-nft-qos=y
CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_luci-app-shadowsocks-libev=y
CONFIG_PACKAGE_luci-app-transmission=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-wireguard=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-i18n-aria2-zh-cn=y
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ddns-zh-cn=y
CONFIG_PACKAGE_luci-i18n-firewall-zh-cn=y
CONFIG_PACKAGE_luci-i18n-https-dns-proxy-zh-cn=y
CONFIG_PACKAGE_luci-i18n-mwan3-zh-cn=y
CONFIG_PACKAGE_luci-i18n-nft-qos-zh-cn=y
CONFIG_PACKAGE_luci-i18n-opkg-zh-cn=y
CONFIG_PACKAGE_luci-i18n-shadowsocks-libev-zh-cn=y
CONFIG_PACKAGE_luci-i18n-transmission-zh-cn=y
CONFIG_PACKAGE_luci-i18n-upnp-zh-cn=y
CONFIG_PACKAGE_luci-i18n-wireguard-zh-cn=y
CONFIG_PACKAGE_luci-lib-httpclient=y
CONFIG_PACKAGE_luci-lib-httpprotoutils=y
CONFIG_PACKAGE_luci-lib-ip=y
CONFIG_PACKAGE_luci-lib-ipkg=y
CONFIG_PACKAGE_luci-lib-json=y
CONFIG_PACKAGE_luci-lib-jsonc=y
CONFIG_PACKAGE_luci-lib-nixio=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-mod-failsafe=y
CONFIG_PACKAGE_luci-mod-network=y
CONFIG_PACKAGE_luci-mod-rpc=y
CONFIG_PACKAGE_luci-mod-status=y
CONFIG_PACKAGE_luci-mod-system=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-theme-freifunk-generic=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_luci-theme-openwrt=y
CONFIG_PACKAGE_miniupnpd=y
CONFIG_PACKAGE_mwan3=y
CONFIG_PACKAGE_nft-qos=y
CONFIG_PACKAGE_nftables=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_rpcd=y
CONFIG_PACKAGE_rpcd-mod-file=y
CONFIG_PACKAGE_rpcd-mod-iwinfo=y
CONFIG_PACKAGE_rpcd-mod-luci=y
CONFIG_PACKAGE_rpcd-mod-rrdns=y
CONFIG_PACKAGE_rsync=y
CONFIG_PACKAGE_rsyncd=y
CONFIG_PACKAGE_socat=y
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_webui-aria2=y
CONFIG_PACKAGE_wget=y
CONFIG_PACKAGE_wireguard-tools=y
CONFIG_PACKAGE_zlib=y
CONFIG_RSYNC_zlib=y
CONFIG_TARGET_KERNEL_PARTSIZE=256
CONFIG_TARGET_ROOTFS_PARTSIZE=512
# CONFIG_TARGET_MULTI_PROFILE is not set
# CONFIG_TARGET_ath79_generic is not set
# CONFIG_TARGET_ath79_generic_DEVICE_8dev_carambola2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_aruba_ap-105 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_avm_fritz300e is not set
# CONFIG_TARGET_ath79_generic_DEVICE_avm_fritz4020 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_buffalo_bhr-4grv is not set
# CONFIG_TARGET_ath79_generic_DEVICE_buffalo_bhr-4grv2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_buffalo_wzr-hp-ag300h is not set
# CONFIG_TARGET_ath79_generic_DEVICE_buffalo_wzr-hp-g302h-a1a0 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_buffalo_wzr-hp-g450h is not set
# CONFIG_TARGET_ath79_generic_DEVICE_comfast_cf-e110n-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_comfast_cf-e120a-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_comfast_cf-e5 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1200e is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1200i is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1750c is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1750e is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1750i is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1750x is not set
# CONFIG_TARGET_ath79_generic_DEVICE_dlink_dir-825-b1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_dlink_dir-825-c1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_dlink_dir-835-a1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_dlink_dir-859-a1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_elecom_wrc-1750ghbk2-i is not set
# CONFIG_TARGET_ath79_generic_DEVICE_elecom_wrc-300ghbk2-i is not set
# CONFIG_TARGET_ath79_generic_DEVICE_embeddedwireless_dorin is not set
# CONFIG_TARGET_ath79_generic_DEVICE_engenius_ecb1750 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_engenius_epg5000 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_engenius_ews511ap is not set
# CONFIG_TARGET_ath79_generic_DEVICE_etactica_eg200 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_glinet_gl-ar150 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_glinet_gl-ar300m-lite is not set
# CONFIG_TARGET_ath79_generic_DEVICE_glinet_gl-x750 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_iodata_etg3-r is not set
# CONFIG_TARGET_ath79_generic_DEVICE_iodata_wn-ac1167dgr is not set
# CONFIG_TARGET_ath79_generic_DEVICE_iodata_wn-ac1600dgr is not set
# CONFIG_TARGET_ath79_generic_DEVICE_iodata_wn-ac1600dgr2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_iodata_wn-ag300dgr is not set
# CONFIG_TARGET_ath79_generic_DEVICE_jjplus_ja76pf2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_librerouter_librerouter-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_nec_wg1200cr is not set
# CONFIG_TARGET_ath79_generic_DEVICE_nec_wg800hp is not set
# CONFIG_TARGET_ath79_generic_DEVICE_netgear_ex6400 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_netgear_ex7300 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_netgear_wndr3700 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_netgear_wndr3700v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_netgear_wndr3800 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ocedo_koala is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ocedo_raccoon is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ocedo_ursus is not set
# CONFIG_TARGET_ath79_generic_DEVICE_openmesh_om5p-ac-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_pcs_cap324 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_pcs_cr3000 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_pcs_cr5000 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_phicomm_k2t is not set
# CONFIG_TARGET_ath79_generic_DEVICE_pisen_wmm003n is not set
# CONFIG_TARGET_ath79_generic_DEVICE_rosinson_wr818 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-a7-v5 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c2-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c25-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c5-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c58-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c59-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c6-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c60-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c60-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c60-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c7-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c7-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c7-v4 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c7-v5 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-d50-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_cpe210-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_cpe210-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_cpe220-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_re350k-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_re450-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr3500-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr3600-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr4300-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr4300-v1-il is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr4310-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr4900-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr1043n-v5 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr1043nd-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr1043nd-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr1043nd-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr1043nd-v4 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr2543-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr710n-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr710n-v2.1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr810n-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr810n-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr842n-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr842n-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr842n-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_acb-isp is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_airrouter is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_bullet-m is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_bullet-m-xw is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_lap-120 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanobeam-ac is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-ac is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-ac-loco is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-loco-m is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-loco-m-xw is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-m is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-m-xw is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_picostation-m is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_rocket-m is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_routerstation is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_routerstation-pro is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifi is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifiac-lite is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifiac-lr is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifiac-mesh is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifiac-mesh-pro is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifiac-pro is not set
# CONFIG_TARGET_ath79_generic_DEVICE_wd_mynet-n750 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_wd_mynet-wifi-rangeextender is not set
# CONFIG_TARGET_ath79_generic_DEVICE_winchannel_wb2000 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_xiaomi_mi-router-4q is not set
# CONFIG_TARGET_ath79_generic_DEVICE_yuncore_a770 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_yuncore_a782 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_yuncore_xd4200 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_zbtlink_zbt-wd323 is not set
# CONFIG_TARGET_ath79_generic_Default is not set
# CONFIG_TARGET_ath79_nand is not set
# CONFIG_TARGET_ath79_tiny is not set
# CONFIG_TARGET_x86_generic_Generic is not set
